body{
    background-color: #101010;
}

html {
    scroll-behavior: smooth;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 가로 스크롤 방지 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤 */
}


* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

/* 헤더 */

.header {
    position: fixed;
    display: flex;
    width: 98%;
    height: 40px;
    align-items: center;
    overflow: hidden;
    background: #202020;
    border-radius: 10px;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}


.header a img{
    height: 25px;
}

.header a {
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
}

/* 헤더 목록 */

.header-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-menu a {
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    color: white;
    transition: text-shadow 0.5s ease;
}

.header-menu a:hover {
    text-shadow: 0px 0px 20px #ffffff;
}

.header-menu a:not(:last-child) {
    padding-right: 10%;
}

/* 디스플레이 크기 조정에 따른 폰트 크기 조정 */
@media screen and (max-width: 600px) {
    .header-menu a {
        font-size: 80%;
    }
}

/* 헤더 로고 */

.header-logo {
    left: 2%;
}

/* 지원하기 버튼 */

.apply-button {
    display: flex;
    position: relative;
    width: 7%;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    right: 4%;
    border-radius: 15px;

    font-weight: 400;
    font-size: 12px;
    color: #000000;

    background: linear-gradient(90deg, #FF63E2 0%, #BF52FF 100%);
    box-shadow: 0px 0px 5px 1px #777;
    transition: box-shadow 0.3s ease;
}

.apply-button:hover {
    box-shadow: 0px 0px 10px 1px #f8aaff;
}

@media screen and (max-width: 600px) {
    .apply-button {
        display: none;
        visibility: hidden;
    }
}

/* 배경 */

.background {
    width: 70vw;
    height: 60vh;
    background-color: white;
    border-radius: 50%;
    transform: rotate(-15deg);
    transform-origin: center center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30vh;
    margin-left: -35vw;


    background: linear-gradient(90deg, rgba(191, 82, 255, 0.20) 5.03%, rgba(82, 122, 255, 0.20) 98.92%);
    filter: blur(4vw);
    z-index: -1;

}

/* 수상 실적 목록 */

.history-nav {
    position: absolute;
    width: 100vw;
    top: 40%;
    left: 50%;
    margin-left: -50vw;

    font-weight: 700;
    font-size: 50px;
    color: white;
    display: grid;
    place-items: center;
    animation: enter 1s ease-out;
}
@keyframes enter {
    from {
        scale: 0.5;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.history-nav ul li {
    color: #FFFFFF;
    font-weight: 600;
    line-height: 6vw;
    font-size: 3vw;
    list-style: none;
    white-space: nowrap;
    text-align: center;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
@keyframes scroll {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.history-nav ul li:first-child {
    border-radius: 15px;
    background: linear-gradient(90deg, #BF52FF 0%, #527AFF 100%);
    margin-bottom: 40vh;
    animation: scroll-first linear;
    animation-timeline: view();
    animation-range: entry 60% exit 0%;
    opacity: 1;
}

.spcial-text {
    background: linear-gradient(90deg, #BF52FF 0%, #527AFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.act-2023 {
    position: relative;
    bottom: 0;
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 3vw;
    line-height: 8vw;
    margin-bottom: 30vh;
    margin-top: 4vw;
    width: 50vw;
    background-color: white;
    border-radius: 5vw;
    animation: scroll_2023 linear;
    animation-range: entry 0% cover 50%;
    animation-timeline: view();
}
@keyframes scroll_2023 {
    from {
        opacity: 0;
        scale: 0%;
    }
    to {
        opacity: 1;
        scale: 100%;
        box-shadow: 0px 0px 5vw white;
        
    }
}

#here {
    font-weight: 600 !important;
    background: linear-gradient(90deg, #c971fc 0%, #76d6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}